/*///////////////////////// Body Background /////////////////////*/
html {
    background-image: url('./image/background.png');

}

/* .left-curtain {
    position: fixed;
    top: 0%;
    left: 0%;

}

.right-curtain {
    position: fixed;
    top: 0%;
    right: 0%;

} */
/*///////////////////////// Navigation Overall /////////////////////*/

.nav-home,
.nav-about,
.nav-contact,
.nav-projects {
    width: 210px;
    height: 102px;
    left: 0%;
    top: 0%;
    position: absolute;
    background: #F0C8A6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 32px;
    font-family: Vast Shadow;
    font-weight: 400;
    border: none;
    z-index: 2;
    text-align: center;
    line-height: 102px;
    border: 3px #eebb8e;

}

.current {
    height: 16%;
    max-height: 153px;
    background: #FABA84;
    transition: all 0.3s ease-in-out;

}

.current-sub {
    background: #FABA84;
    transition: all 0.3s ease-in-out;
}

/*///////////////////////// Nav Home //////////////////////////*/
.nav-home {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-235.5%);
}

.nav-home:hover {
    height: 16%;
    max-height: 153px;
    background: #FABA84;

    transition: background-color 0.5s ease-in-out;
    transition: height 1s ease-in-out;
}

/*///////////////////////////// Nav About /////////////////////////*/
.nav-about {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(36%);
}

.nav-about:hover {
    height: 16%;
    max-height: 153px;
    background: #FABA84;

    transition: background-color 1s ease-in-out;
    transition: height 1s ease-in-out;
}

/*/////////////////////////////////// Nav Contact ///////////////////////*/
.nav-contact {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(135%);
}

.nav-contact:hover {
    height: 16%;
    max-height: 153px;
    background: #FABA84;

    transition: background-color 0.5s ease-in-out;
    transition: height 1s ease-in-out;
}

/*///////////////////////////////// Nav Projects ////////////////////////////*/
.nav-projects {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-136%);
}

.nav-projects:hover {
    height: 16%;
    max-height: 153px;
    background: #FABA84;

    transition: background-color 0.5s ease-in-out;
    transition: height 1s ease-in-out;
}

/*///////////////////////////////// Nav Decor ////////////////////////////*/
.nav-background {
    position: fixed;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}



/*////////////////////////////// Project Arrow Button ///////////////////////*/


.side-button-right {
    top: 50%;
    left: 50%;
    cursor: pointer;
    /* position: fixed; */
    transform: translate(670%, -100%);
}

.side-button-left {
    /* position: fixed; */
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-770%, -100%);
}


/*///////////////////////////////// Button Decor ////////////////////////////*/

a,
a:hover {
    text-decoration: none;
    color: black;
}

.type-potato a,
.type-potato-phone-two a,
.type-two a,
.credit a {
    text-decoration: underline;
    color: black;
}

.type-potato a:hover,
.type-potato-phone-two a:hover,
.type-two a:hover,
.credit a:hover {
    text-decoration: underline;
    color: #780F2E;
}


.patreon:hover,
.more-about-me:hover,
.view-more:hover,
.form-sumbit:hover,
.form-clear:hover,
.main:hover,
.sub:hover {
    background: #FFC971;
}

.nav-home:active,
.nav-about:active,
.nav-contact:active,
.nav-projects:active,
.patreon:active,
.view-more:active,
.more-about-me:active,
.form-sumbit:active,
.form-clear:active,
.main:active,
.sub:active {
    background-color: #780F2E;
    transition: all 0.3s ease-in-out;
}
