/*///////////////////////////////// @Media Index ////////////////////////////*/



/* //////////////////////////// Most Mobile devices ////////////////////////    */
@media screen and (max-width: 480px) {


    /* .about::before {
        width: 1090px;
        height: 4500px;
    } */

    .left-curtain {
        display: none;

    }

    .right-curtain {
        display: none;
    }


    /*///////////////////////////////// Nav Decor ////////////////////////////*/
    .nav-background {
        width: 1150px;
        height: auto;
        transform: translate(-50%, -95%);

    }

    /*///////////////////////// Navigation Overall /////////////////////*/



    .nav-home,
    .nav-about,
    .nav-contact,
    .nav-projects {
        width: 210px;
        height: 90px;
        font-size: 30px;
        line-height: 80px;

    }

    .current {
        height: 120px;
    }

    /*///////////////////////// Nav Home //////////////////////////*/
    .nav-home {
        transform: translate(-235.5%, -20px);
    }

    .nav-home:hover {
        height: 90px;
    }

    /*///////////////////////////// Nav About /////////////////////////*/
    .nav-about {
        transform: translate(-136%, -20px);
    }

    .nav-about:hover {
        height: 90px;
    }

    /*/////////////////////////////////// Nav Contact ///////////////////////*/
    .nav-contact {
        transform: translate(36%, -20px);
    }

    .nav-contact:hover {
        height: 90px;
    }

    /*///////////////////////////////// Nav Projects ////////////////////////////*/
    .nav-projects {
        transform: translate(135%, -20px);
    }

    .nav-projects:hover {
        height: 16%;
        max-height: 90px;
    }



    /*//////////////////////////// Box Outline Outside ///////////////////////////*/


    .box-outline-outside-about {
        width: 1000px;
        height: 1740px;
        left: 11%;
        transform: translate(0%, -7%);

    }

    .box-outline-outside-info {
        width: 1000px;
        height: 1400px;
        left: 11%;
        transform: translate(0%, 183%);

    }

    .box-outline-outside-program {
        width: 1000px;
        height: 400px;
        left: 11%;
        transform: translate(0%, 412%);
    }


    .box-outline-outside-code {
        transform: translate(0%, 456%);
        width: 1000px;
        height: 455px;
        left: 11%;
    }


    /*///////////////////////////// Box Outline Inside ////////////////////////////*/


    .box-outline-inside-about {
        width: 970px;
        height: 1690px;
    }

    .box-outline-inside-info {
        width: 970px;
        height: 1360px;
    }

    .box-outline-inside-program {
        width: 962px;
        height: 370px;
        left: 2%;
        top: 4%;
    }

    .box-outline-inside-code {
        width: 962px;
        height: 420px;
        left: 2%;
        top: 4%;
    }


    /*////////////////////////////////// Footer Outline //////////////////////////*/

    .box-outline-outside-foot {
        width: 1090px;
        height: 300px;
        transform: translate(-18%, 1330%);

    }

    .box-outline-inside-foot {
        left: 1%;
        width: 1070px;
        height: 276px;
    }


    .github {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }

    .twitter {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }

    .discord {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }

    .linkedin {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }

    .instagram {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }
    /*///////////////////////////////// Heading Box ////////////////////////////*/

    .box-outline-heading-about,
    .box-outline-heading-info,
    .box-outline-heading-program,
    .box-outline-heading-code {
        width: 910px;
        height: 130px;

    }

    .box-outline-heading-about {
        /* transform: translate(-12%, -40%); */
        top: 0%;
        left: 0%;
    }

    .box-outline-heading-info {
        /* transform: translate(-12%, 2000%); */
        top: 0%;
        left: 0%;

    }

    .box-outline-heading-program {
        /* transform: translate(-12%, 1295%); */
        top: 0%;
        left: 0%;
    }

    .box-outline-heading-code {
        /* transform: translate(-12%, 1620%); */
        top: 0%;
        left: 0%;
    }

    /*////////////////////////////// Paragraph Outline ////////////////////////////*/

    .box-outline-paragraph-about {
        width: 870px;
        height: 670px;
        transform: translate(0%, 17%);
    }

    /*/////////////////////////////////////*/

    .box-outline-paragraph-info {
        width: 870px;
        height: 100px;
        transform: translate(0%, 800%);
        z-index: 1;
    }

    footer.section p {
        font-size: 25px;
        width: 900px;
        transform: translate(-20%, 0%);
    }
    /*///////////////////////////////// Heading Text ////////////////////////////*/

    .heading-about,
    .heading-info {
        line-height: 90px;
        width: 900px;
        font-size: 39px;
        text-align: center;
        -webkit-text-stroke: 1px #4C0B13;
        top: -20%;
        left: 10%;
    }

    .heading-program,
    .heading-code {
        line-height: 90px;
        width: 900px;
        font-size: 26px;
        text-align: center;
        -webkit-text-stroke: 1px #4C0B13;
        top: -10%;
        left: 0%;
    }




    /*///////////////////////////////// Paragraph Text ////////////////////////////*/

    .about-me p {
        width: 850px;
        /* transform: translate(-22%, 35%); */
        z-index: 1;
        font-size: 40px;
        line-height: 55px;
        left: 2%;
    }

    .info p {
        width: 830px;
        top: -25%;
        left: 0%;
        font-size: 40px;
        text-align: center;
    }


    /*///////////////////////////////// Images /////////////////////////////////////*/
    .self-image img {
        width: 620px;
        height: auto;
        top: 60%;
        left: 18%;
        /* transform: translate(-50%, 143%); */
    }


    .resume-image img {
        width: 850px;
        height: auto;
        top: 11%;
        left: 7%;
        /* transform: translate(10%, -14%); */
    }


    /*///////////////////////////////// Button ////////////////////////////*/


    /*///////////////////////////////// Decor ////////////////////////////*/
    .dia-left-about img,
    .dia-left-two-about img {
        width: 200px;
        height: auto;
        top: 0%;
        left: 1%;
    }

    .dia-right-two-about img,
    .dia-right-about img {
        width: 200px;
        height: auto;
        top: 0%;
        left: 79%;
    }

    .dia-left-about img {
        transform: translate(0%, 470%);
    }

    .dia-left-two-about img {
        transform: translate(0%, 360%);
    }

    .dia-right-about img {
        transform: translate(0%, 7%);
    }

    .dia-right-two-about img {
        transform: translate(0%, 7%);
    }


    .dia-left-three-about img,
    .dia-left-four-about img,
    .dia-right-four-about img,
    .dia-right-three-about img {
        display: none;
    }

    /*///////////////////////////////// Carousel ////////////////////////////*/

    .carousel {
        transform: translate(0%, 95%);
    }

    .language {
        transform: translate(0%, 48%);
    }

}