/*///////////////////////////////// @Media Index ////////////////////////////*/



/* //////////////////////////// Most Mobile devices ////////////////////////    */
@media screen and (max-width: 480px) {

/* 
    .home-mystic::before {
        width: 1090px;
        height: 6900px;
    } */

    .left-curtain {
        display: none;

    }

    .right-curtain {
        display: none;
    }


    /*///////////////////////////////// Nav Decor ////////////////////////////*/
    .nav-background {
        width: 1150px;
        height: auto;
        transform: translate(-50%, -95%);

    }

    /*///////////////////////// Navigation Overall /////////////////////*/
    .nav-home,
    .nav-about,
    .nav-contact,
    .nav-projects {
        width: 210px;
        height: 90px;
        font-size: 30px;
        line-height: 80px;

    }

    .current {
        height: 120px;
    }

    /*///////////////////////// Nav Home //////////////////////////*/
    .nav-home {
        transform: translate(-235.5%, -20px);
    }

    .nav-home:hover {
        height: 90px;
    }

    /*///////////////////////////// Nav About /////////////////////////*/
    .nav-about {
        transform: translate(-136%, -20px);
    }

    .nav-about:hover {
        height: 90px;
    }

    /*/////////////////////////////////// Nav Contact ///////////////////////*/
    .nav-contact {
        transform: translate(36%, -20px);
    }

    .nav-contact:hover {
        height: 90px;
    }


    /*///////////////////////////// Nav Projects //////////////////////////*/
    .nav-projects {
        transform: translate(135%, -20px);
    }

    .nav-projects:hover {
        height: 16%;
        max-height: 90px;
    }

    /*/////////////////////////////// Box Outline Outside ////////////////////////////*/

    .box-outline-outside-overview {
        width: 1000px;
        height: 1910px;
        left: 11%;
        transform: translate(0%, -6%);
    }

    .box-outline-outside-play {
        width: 1000px;
        height: 1400px;
        left: 11%;
        transform: translate(0%, 132%);
    }

    .box-outline-outside-progress {
        width: 1000px;
        height: 1835px;
        left: 11%;
        transform: translate(0%, 172%);
    }

    .box-outline-outside {
        width: 1000px;
        height: 2580px;
        left: 11%;
        transform: translate(0%, 248%);
    }

    /*///////////////////////////// Box Outline Inside ////////////////////////////*/

    .box-outline-inside-overview {
        width: 970px;
        height: 1860px;
    }

    .box-outline-inside-play {
        width: 970px;
        height: 1350px;
    }

    .box-outline-inside-progress {
        width: 970px;
        height: 1780px;
    }

    .box-outline-inside {
        width: 970px;
        height: 2540px;
        top: 20px;
    }


    /*////////////////////////////////// Footer Outline //////////////////////////*/
    .box-outline-outside-foot {
        width: 1090px;
        height: 300px;
    }

    .box-outline-outside-foot {
        transform: translate(-18%, 2105%);

    }

    /*/////////////////////////////////////*/

    .box-outline-inside-foot {
        left: 1%;
        width: 1070px;
        height: 276px;

    }

    .github {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }

    .twitter {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }

    .discord {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }

    .linkedin {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }

    .instagram {
        width: 85px;
        height: 85px;
        border-radius: 40px;
    }
    /*///////////////////////////////// Heading Box ////////////////////////////*/

    .box-outline-heading,
    .box-outline-heading-play {
        width: 910px;
        height: 200px;
        top: 100%;
        left: 50%;
    }

    .box-outline-heading-play {
        top: 135%;
    }

    .box-outline-heading-two,
    .box-outline-heading-three,
    .box-outline-heading-four {
        height: 90px;
        width: 770px;
        left: 60%;
    }

    .box-outline-heading-two {
        top: 3%;
        left: 10%;
    }

    .box-outline-heading-three {
        top: 50%;
        left: 10%;
    }

    .box-outline-heading-four {
        top: 3%;
        left: 10%;
    }
    .box-outline-heading-five {
        top: 40%;
        left: 10%;
    }

    /*////////////////////////////// Paragraph Outline ////////////////////////////*/

    /*/////////////////////////////////////*/


    /*///////////////////////////////// Heading Text ////////////////////////////*/

    .title,
    .play-title {
        line-height: 90px;
        width: 900px;
        font-size: 32px;
        text-align: center;
        -webkit-text-stroke: 1px #4C0B13;
        top: -20%;
        left: 0%;
    }

    .play-title {
        
    }

    /*/////////////////////////////////////*/

    .heading-two,
    .heading-three,
    .heading-four {
        line-height: 90px;
        width: 800px;
        font-size: 23px;
        -webkit-text-stroke: 1px #4C0B13;
        top: -30%;
        left: -2%;
    }

    /*///////////////////////////////// Paragraph Text ////////////////////////////*/

    .details p {
        width: 850px;
        z-index: 1;
        font-size: 40px;
        line-height: 55px;
        top: -195%;
        left: 60%;
    }

    .type p {
        width: 550px;
        z-index: 1;
        font-size: 40px;
        line-height: 55px;
        top: -280%;
        left: 60%;
    }

    .type-two p {
        width: 320px;
        z-index: 1;
        font-size: 40px;
        line-height: 55px;
        top: -195%;
        left: 60%;
    }

    .credit p {
        width: 860px;
        z-index: 1;
        font-size: 35px;
        line-height: 55px;
        top: -200%;
        left: 30%;
    }

    .play p {
        width: 850px;
        z-index: 1;
        font-size: 40px;
        line-height: 55px;
        top: 13%;
        left: 10%;
    }

    footer.section p {
        font-size: 25px;
        width: 900px;
        transform: translate(-20%, 0%);
    }
    /*///////////////////////////////// Images /////////////////////////////////////*/

 .videoscreen {
    width: 800px;
    height: 300px;
    position: absolute;
    top: 60%;
    left: 10%;
    /* transform: translate(-190%, 175%); */
}
    /*/////////////////////////////////////*/

    .overview {
        width: 750px;
        height: auto;
        top: 75%;
        left: 17%;
        box-shadow: 0px 0px 0px;
    }

    .menu-one img {
        width: 620px;
        height: auto;
        top: 32%;
        left: 33%;
    }

    .menu-two img {
        width: 620px;
        height: auto;
        top: 10%;
        left: 5%;
    }

    .sprites img {
        width: 620px;
        height: auto;
        top: 54%;
        left: 5%;
    }

    .sprites-three img {
        width: 620px;
        height: auto;
        top: 76%;
        left: 33%;
    }

    .image-one img {
        width: 620px;
        height: auto;
        top: 10%;
        left: 5%;
    }

    .image-two img {
        width: 620px;
        height: auto;
        top: 10%;
        left: 5%;
    }

    .image-three img {
        width: 620px;
        height: auto;
        top: 10%;
        left: 5%;
    }

    .image-four img {
        width: 620px;
        height: auto;
        top: 10%;
        left: 5%;
    }

    .image-five img {
        width: 620px;
        height: auto;
        top: 10%;
        left: 5%;
    }

    .image-six img {
        width: 620px;
        height: auto;
        top: 10%;
        left: 5%;
    }

    /*///////////////////////////////// Button ////////////////////////////*/

    
    .side-button-right {
        display: none;
    }

    .side-button-left {
        display: none;
    }

    /*///////////////////////////////// Decor ////////////////////////////*/

 
    .dia-left img,
    .dia-left-two img,
    .dia-left-three img {
        width: 200px;
        height: auto;
        top: 0%;
        left: 1%;
    }

    .dia-right-three img,
    .dia-right-two img,
    .dia-right img {
        width: 200px;
        height: auto;
        top: 0%;
        left: 79%;
    }


    .dia-left img {
        transform: translate(0%, 527%);
    }

    .dia-left-two img {
        transform: translate(0%, 500%);
    }

    .dia-left-three img {
        transform: translate(0%, 748%);
    }

    .dia-right img {
        transform: translate(0%, 7%);
    }

    .dia-right-two img {
        transform: translate(0%, 7%);
    }

    .dia-right-three img {
        transform: translate(0%, 7%);
    }

}