
/*///////////////////////////////// Box Outline ////////////////////////////*/
.box-outline-outside-overview,
.box-outline-outside-gallery,
.box-outline-outside-play {
    width: 1800px;
    height: 804px;
    background: rgba(98, 91, 92);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.box-outline-outside-overview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -27%);
}

.box-outline-outside-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 79%);
}

.box-outline-outside-gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 186%);
}


.box-outline-outside-gallery-two {
    width: 1800px;
    height: 870px;
    background: rgba(98, 91, 92);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.box-outline-outside-gallery-two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 268%);
}

/*/////////////////////////////////////*/


.box-outline-inside-overview,
.box-outline-inside-gallery,
.box-outline-inside-play {
    width: 1745px;
    height: 780px;
    background: #EDE7DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
}


.box-outline-inside-play {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
}

.box-outline-inside-overview {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    /* transform: translate(-50%, -26.3%); */
}


.box-outline-inside-gallery {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    /* transform: translate(-50%, 84%); */
}


.box-outline-inside-gallery-two {
    width: 1745px;
    height: 843px;
    background: #EDE7DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
}

.box-outline-inside-gallery-two {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    /* transform: translate(-50%, 1506px); */
}

/*///////////////////////////HEADING BOX////////////////////////////*/


.box-outline-heading-play {
    width: 1700px;
    height: 20px;
    background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 1;
}

.box-outline-heading-play {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -920%);
}


.box-outline-heading-wel {
    width: 1700px;
    height: 20px;
    background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 1;
}


.box-outline-heading-wel {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -920%);
}

.box-outline-heading-two,
.box-outline-heading-three,
.box-outline-heading-four,
.box-outline-heading-five {
    width: 1700px;
    height: 20px;
    background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 1;
    position: absolute;
}

.box-outline-heading-two {
    /* transform: translate(-50%, 1250%); */
    top: 4%;
    left: 3%;
}

.box-outline-heading-three {
    /* transform: translate(-50%, 1900%); */
    top: 52%;
    left: 3%;
}

.box-outline-heading-four {
    /* transform: translate(-110%, 2800%); */
    top: 4%;
    left: 3%;
}

.box-outline-heading-five {
    /* transform: translate(10%, 2800%); */
    top: 50%;
    left: 3%;
}

/*/////////////////////////////////////*/


.box-outline-paragraph,
.box-outline-type,
.box-outline-credit {
    /* background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px; */
    position: absolute;
    top: 50%;
    left: 30%;
}

.box-outline-paragraph {
    width: 375px;
    height: 330px;
    transform: translate(-116%, -10%);
    z-index: 1;
}

.box-outline-type {
    width: 375px;
    height: 200px;
    transform: translate(-116%, 90%);
    z-index: 1;
}

.box-outline-credit {
    width: 375px;
    height: 60px;
    transform: translate(-30%, 350%);
    z-index: 1;
}




/*/////////////////////////////////////*/
.box-outline-outside-foot {
    width: 100%;
    height: 200px;
    background: rgba(98, 91, 92);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 2200%);

}

.box-outline-inside-foot {
    width: 99%;
    height: 185px;
    position: absolute;
    background: #EDE7DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px 20px 0 0;
    position: absolute;
    /* transform: translate(-50%, 1273%); */
    top: 8%;
    left: 0.5%;
}


/*///////////////////////////////// Decor ////////////////////////////*/

.dia-left img {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-384%, 205%);
}

.dia-right img {
    position: absolute;
    top: 27%;
    right: 50%;
    transform: translate(385%, -107%);
}

/*//////////////////////////////////////////////////////////////////////*/

.dia-left-two img {
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translate(-384%, 656%);
}

.dia-right-two img {
    position: absolute;
    top: -80%;
    right: 50%;
    transform: translate(385%, 344%);
}

/*/////////////////////////////////////*/

.dia-left-three img {
    position: absolute;
    top: -186%;
    left: 50%;
    transform: translate(-384%, 1200%);
}

.dia-right-three img {
    position: absolute;
    top: -186%;
    right: 50%;
    transform: translate(385%, 855%);
}

/*/////////////////////////////////////*/

.left-curtain {
    position: fixed;
    top: 0%;
    left: 0%;
}

.right-curtain {
    position: fixed;
    top: 0%;
    right: 0%;
}


/*///////////////////////////////// Heading Text ////////////////////////////*/


.play-title {
    width: 827px;
    text-align: center;
    color: #FABA84;
    font-size: 25px;
    font-family: Vast Shadow;
    font-weight: 400;
    -webkit-text-stroke: 0.1px #4C0B13;
    z-index: 1;
}

.play-title {
    position: absolute;
    top: -20%;
    left: -9%;
    /* transform: translate(-50%, -320%); */
}


.title {
    width: 827px;
    text-align: center;
    color: #FABA84;
    font-size: 23px;
    font-family: Vast Shadow;
    font-weight: 400;
    -webkit-text-stroke: 0.1px #4C0B13;
    z-index: 1;
}


.title {
    position: absolute;
    top: -20%;
    left: -9%;
    /* transform: translate(-50%, -320%); */
}

/*/////////////////////////////////////*/

.heading-two,
.heading-three {
    width: 827px;
    text-align: center;
    color: #FABA84;
    font-family: Vast Shadow;
    font-weight: 400;
    -webkit-text-stroke: 0.1px #4C0B13;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: -15%;
    font-size: 15px;
}

.heading-four {
    width: 827px;
    text-align: center;
    color: #FABA84;
    font-family: Vast Shadow;
    font-weight: 400;
    -webkit-text-stroke: 0.1px #4C0B13;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: -15%;
    font-size: 14px;
}

.heading-five {
    width: 527px;
    text-align: center;
    color: #FABA84;
    font-family: Vast Shadow;
    font-weight: 400;
    -webkit-text-stroke: 0.1px #4C0B13;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: -10%;
    font-size: 14px;
}
/*///////////////////////////////// Paragraph Text ////////////////////////////*/


.details p,
.details h2,
.type-smash p,
.type-two p,
.credit p,
.play p {
    color: #1E1E1E;
    font-family: Overlock;
    font-weight: 900;
}

.play p {
    width: 600px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 2px;
    position: absolute;
    top: 14%;
    left: 10%;
    z-index: 1;
    /* transform: translate(-90%, -28%); */

}

.details h2 {
    width: 600px;
    font-size: 35px;
    line-height: 32px;
    letter-spacing: 2px;
    position: absolute;
    top: -68%;
    left: 5%;
    z-index: 1;
}

.details p {
    width: 600px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 2px;
    position: absolute;
    top: -55%;
    left: 5%;
    z-index: 1;
    /* transform: translate(-122%, -27%); */

}

.type-smash p {
    width: 440px;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 2px;
    position: absolute;
    top: -100%;
    left: 5%;
    /* transform: translate(-95%, 105%); */
    z-index: 1;

}


.type-two p {
    width: 440px;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 2px;
    position: absolute;
    top: 0%;
    left: 64%;
    /* transform: translate(-42%, 420%); */
    z-index: 1;

}


.credit p {
    width: 440px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 2px;
    position: absolute;
    top: -385%;
    left: 5%;
    /* transform: translate(-42%, 420%); */
    z-index: 1;
}


/*/////////////////////////////////////*/
footer.section {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Overlock;
    font-weight: 400;

    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, 80%);

}

footer.section p {
    width: 100%;
    height: 100%;
    transform: translate(1%, 35%);
}


/*///////////////////////////////// Images ////////////////////////////*/

.overview {
    width: 800px;
    height: 675px;
    position: absolute;
    top: 20%;
    left: 54%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-8%, -11%);
    }

.overview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

}
/*/////////////////////////////////////*/

.box-one {
    width: 450px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.box-one img {
    width: 100%;
    height: 100%;
    transform: translate(-102%, 295%);
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


/*/////////////////////////////////////*/

.box-two{
    width: 450px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    }

.box-two img {
    width: 100%;
    height: 100%;
    transform: translate(2%, 295%);
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


/*/////////////////////////////////////*/

.handbook {
    width: 450px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    }

.handbook img {
    width: 100%;
    height: 100%;
    transform: translate(-102%, 415%);
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


/*/////////////////////////////////////*/

.handbook-two {
    width: 450px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    }


.handbook-two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(2%, 415%);

}



/*/////////////////////////////////////*/
.card {
    width: 150px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    }

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-150%, 460%);
}


/*/////////////////////////////////////*/
.card-two {
    width: 150px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    }

.card-two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-280%, 460%);
}

/*/////////////////////////////////////*/
.card-three {
    width: 150px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    }

.card-three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-280%, 565%);
}


/*/////////////////////////////////////*/
.card-four {
    width: 150px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    }

.card-four img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-150%, 565%);
}

/*/////////////////////////////////////*/

.item img {
    width: 260px;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(3%, 640%);
}

.item-two img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(170%, 991%);
}

.item-three img {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, 1180%);
}

.item-four img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(170%, 1260%);
}

.item-five img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(45%, 1360%);
}

.item-six img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(355%, 2650%);
}
/*/////////////////////////////////////*/
.github {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-250%, -180%);
}

.github img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(0%, 0%);
}

.twitter {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-100%, -180%);
}

.twitter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(-0%, -0%);
}


.discord {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(50%, -180%);
}

.discord img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(-0%, -0%);
}


.linkedin {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(200%, -180%);
}

.linkedin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(-0%, -0%);
}