
/*///////////////////////////////// Box Outline ////////////////////////////*/
.box-outline-outside-contact {
    width: 990px;
    height: 804px;
    background: rgba(98, 91, 92);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.box-outline-outside-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -27%);
}

/*//////////////////////////////////////////////////////////////////////////////*/

.box-outline-inside-contact {
    width: 962px;
    height: 780px;
    background: #EDE7DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
}

.box-outline-inside-contact {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    /* transform: translate(-50%, -26.3%); */
}

.box-outline-paragraph-contact {
    background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 430px;
    height: 110px;
    transform: translate(-108%, -170%);

}

.box-outline-paragraph-offline {
    background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 430px;
    height: 310px;
    transform: translate(2%, 0%);
    z-index: 1;

}



.box-outline-outside-foot {
    width: 100%;
    height: 200px;
    background: rgba(98, 91, 92);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 310%);
}

.box-outline-inside-foot {
    width: 99%;
    height: 185px;
    position: absolute;
    background: #EDE7DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px 20px 0 0;
    position: absolute;
    /* transform: translate(-50%, 343%); */
    top: 8%;
    left: 0.5%;
}

/*///////////////////////////////// Decor ////////////////////////////*/

.dia-left-contact img {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-385%, 205%);
}

.dia-right-contact img {
    position: absolute;
    top: 27%;
    right: 50%;
    transform: translate(385%, -107%);
}


/*/////////////////////////////////////*/

.left-curtain {
    position: fixed;
    top: 0%;
    left: 0%;
}

.right-curtain {
    position: fixed;
    top: 0%;
    right: 0%;
}

/*///////////////////////////////// Heading Text ////////////////////////////*/


/*///////////////////////////////// Paragraph Text ////////////////////////////*/

.contact-me p,
.offline p {
    color: #1E1E1E;
    font-family: Overlock;
    font-weight: 900;

}

.contact-me p,
.offline p {
    width: 400px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 5px;
    position: absolute;
    top: 0%;
    left: 5%;
    transform: translate(-0%, 0%);
    z-index: 1;
}




footer.section {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Overlock;
    font-weight: 400;

    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, 80%);

}

footer.section p {
    width: 100%;
    height: 100%;
    transform: translate(1%, 35%);
}

/*///////////////////////////////// Images ////////////////////////////*/

.card-pile {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-7%, -39%);
}

/*/////////////////////////////////////*/
.github {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-250%, -180%);
}

.github img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(0%, 0%);
}

.twitter {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-100%, -180%);
}

.twitter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(-0%, -0%);
}


.discord {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(50%, -180%);
}

.discord img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(-0%, -0%);
}


.linkedin {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(200%, -180%);
}

.linkedin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(-0%, -0%);
}
/*///////////////////////////////// Form ////////////////////////////*/

.form-information-outside {
    width: 386px;
    height: 546px;
    left: 50%;
    top: 50%;
    position: absolute;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    transform: translate(-115%, -10%);
}

/*/////////////////////////////////////*/


.form-inside {
    width: 340px;
    height: 503px;
    left: 23px;
    top: 21px;
    position: absolute;
    background: #780F2E;
    border-radius: 11px;
}

/*/////////////////////////////////////*/

input[type="text"]:focus,
textarea:focus {
    border: 3px solid #4e091e;
}

input[type="text"],
.detail {
    height: 10%;
    width: 90%;
    margin: 30px auto;
    text-align: left;
    display: block;
    padding: 0px 14px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: #F2F0EB;
    font-size: 16px;
    font-family: Overlock;
    font-weight: 400;
}

/*/////////////////////////////////////*/

.detail {
    padding-top: 10px;
    resize: vertical;
    max-height: 170px;
    min-height: 100px;
}


/*/////////////////////////////////////*/

.form-clear,
.form-sumbit {
    width: 180px;
    height: 50px;
    text-align: center;
    color: #140307;
    font-family: Vast Shadow;
    font-weight: 400;
    background: #FABA84;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 3px black solid;
    border-radius: 10px;
    transform: translate(6%, 1120%);
    font-size: 20px;

}



/*///////////////////////////////// Animation ////////////////////////////*/

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #1E1E1E;
    font-family: Overlock;
    font-weight: 900;
    font-size: 40px;
}

.popup-content {
    padding: 25px;
    width: 400px;
    height: 80px;
    background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    color: black;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 15px;
}


.close:hover,
.close:focus {
    color: #780F2E;
    text-decoration: none;
    cursor: pointer;
}
