
/*///////////////////////////////// Box Outline ////////////////////////////*/
.box-outline-outside-potato-overview,
.box-outline-outside-potato-progress,
.box-outline-outside-potato-play {
    width: 1800px;
    height: 804px;
    background: rgba(98, 91, 92);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.box-outline-outside-potato-overview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -27%);
}

.box-outline-outside-potato-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 79%);
}

.box-outline-outside-potato-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 56%);
}

/*//////////////////////////////////*/


.box-outline-outside-potato {
    width: 1800px;
    height: 990px;
    background: rgba(98, 91, 92);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.box-outline-outside-potato {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1640px);
}



/*//////////////////////////////////////////////////////////////////////////////*/

.box-outline-inside-potato-overview,
.box-outline-inside-potato-progress,
.box-outline-inside-potato-play {
    width: 1745px;
    height: 780px;
    background: #EDE7DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
}

.box-outline-inside-potato-play {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
}

.box-outline-inside-potato-overview {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    /* transform: translate(-50%, -26.3%); */
}


.box-outline-inside-potato-progress {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    /* transform: translate(-50%, 84%); */
}


.box-outline-inside-potato {
    width: 1745px;
    height: 960px;
    background: #EDE7DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
}

.box-outline-inside-potato {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    /* transform: translate(-50%, 1506px); */
}



/*///////////////////////////HEADING BOX////////////////////////////*/



.box-outline-heading-potato {
    width: 1700px;
    height: 20px;
    background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 1;
}

.box-outline-heading-potato {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -920%);
}



.box-outline-heading-two-potato,
.box-outline-heading-three-potato,
.box-outline-heading-four-potato {
    width: 1700px;
    height: 20px;
    background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 1;
    position: absolute;

}

.box-outline-heading-two-potato {
    /* transform: translate(-50%, 1270%); */
    top: 4%;
    left: 3%;
}

.box-outline-heading-three-potato {
    /* transform: translate(-50%, 1900%); */
    top: 52%;
    left: 3%;
}

.box-outline-heading-four-potato {
    /* transform: translate(-50%, 2800%); */
    top: 4%;
    left: 3%;
}

.box-outline-heading-five-potato {
    /* transform: translate(-50%, 3450%); */
    top: 4%;
    left: 3%;
}

/*/////////////////////////////////////*/

.box-outline-paragraph-potato,
.box-outline-type-potato,
.box-outline-credit {
    /* background: #E7DECD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px; */
    position: absolute;
    top: 50%;
    left: 30%;
}


.box-outline-paragraph-potato {
    width: 375px;
    height: 330px;
    transform: translate(-116%, -10%);
    z-index: 1;
}


.box-outline-type-potato {
    width: 375px;
    height: 200px;
    transform: translate(-116%, 90%);
    z-index: 1;
}

.box-outline-credit {
    width: 375px;
    height: 60px;
    transform: translate(-30%, 350%);
    z-index: 1;
}



/*/////////////////////////////////////*/

.box-outline-outside-foot {
    width: 100%;
    height: 200px;
    background: rgba(98, 91, 92);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1690%);
}

/*/////////////////////////////////////*/

.box-outline-inside-foot {
    width: 99%;
    height: 185px;
    position: absolute;
    background: #EDE7DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px 20px 0 0;
    position: absolute;
    /* transform: translate(-50%, 1359%); */
    top: 8%;
    left: 0.5%;
}



/*///////////////////////////////// Decor ////////////////////////////*/

.dia-left-potato img {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-384%, 205%);
}

.dia-right-potato img {
    position: absolute;
    top: 27%;
    right: 50%;
    transform: translate(385%, -107%);
}

/*//////////////////////////////////////////////////////////////////////*/

.dia-left-two-potato img {
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translate(-384%, 656%);
}

.dia-right-two-potato img {
    position: absolute;
    top: -80%;
    right: 50%;
    transform: translate(385%, 344%);
}

/*/////////////////////////////////////*/

.dia-left-three-potato img {
    position: absolute;
    top: -186%;
    left: 50%;
    transform: translate(-384%, 1378%);
}

.dia-right-three-potato img {
    position: absolute;
    top: -186%;
    right: 50%;
    transform: translate(385%, 972%);
}

/*/////////////////////////////////////*/

.left-curtain {
    position: fixed;
    top: 0%;
    left: 11%;
    transform: translate(-100%);
}

.right-curtain {
    position: fixed;
    top: 0%;
    right: 11%;
    transform: translate(100%);
}

/*///////////////////////////////// Heading Text ////////////////////////////*/

.potato-title {
    width: 827px;
    text-align: center;
    color: #FABA84;
    font-size: 25px;
    font-family: Vast Shadow;
    font-weight: 400;
    -webkit-text-stroke: 0.1px #4C0B13;
    z-index: 1;
}

.potato-title {
    position: absolute;
    top: -20%;
    left: -9%;
    /* transform: translate(-50%, -320%); */
}


.heading-two,
.heading-three,
.heading-four-potato {
    width: 827px;
    text-align: center;
    color: #FABA84;
    font-family: Vast Shadow;
    font-weight: 400;
    -webkit-text-stroke: 0.1px #4C0B13;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: -15%;
    font-size: 15px;
}



/*///////////////////////////////// Paragraph Text ////////////////////////////*/

.details-potato p,
.details-potato h2,
.type-potato p,
.type-two p,
.credit p {
    color: #1E1E1E;
    font-family: Overlock;
    font-weight: 900;

}
.details-potato h2 {
    width: 600px;
    font-size: 35px;
    line-height: 32px;
    letter-spacing: 2px;
    position: absolute;
    top: -70%;
    left: 5%;
    z-index: 1;
}

.details-potato p {
    width: 600px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 2px;
    position: absolute;
    top: -55%;
    left: 5%;
    z-index: 1;
    /* transform: translate(-90%, -28%); */

}

.type-potato p {
    width: 440px;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 2px;
    position: absolute;
    top: -100%;
    left: 5%;
    /* transform: translate(-95%, 105%); */
    z-index: 1;

}

.type-two p {
    width: 440px;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 2px;
    position: absolute;
    top: 0%;
    left: 64%;
    /* transform: translate(-42%, 420%); */
    z-index: 1;
}

.credit p {
    width: 440px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 2px;
    position: absolute;
    top: -385%;
    left: 5%;
    /* transform: translate(-42%, 420%); */
    z-index: 1;
}





/*/////////////////////////////////////*/

footer.section {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Overlock;
    font-weight: 400;

    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, 80%);

}

footer.section p {
    width: 100%;
    height: 100%;
    transform: translate(1%, 35%);
}


/*///////////////////////////////// Images ////////////////////////////*/


.mc-overview {
    width: 775px;
    height: 675px;
    position: absolute;
    top: -750%;
    left: 155%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-8%, -11%);
    }



.mc-overview img {
    width: 100%;
    height: 105%;
    object-fit: cover;
    transform: translate(-0%, 0%);

    transition: all 0.3s ease-in-out;
}


.potato {
    width: 258px;
    height: 547px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-position: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70%, 302%);
}

.potato-projects {
    width: 258px;
    height: 547px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-position: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70%, -5%);
}

.potato-menu-one img {
    width: 470px;
    height: 320px;
    position: absolute;
    top: 10%;
    left: 70%;
    /* transform: translate(-110%, 310%); */
}

.potato-menu-two img {
    width: 470px;
    height: 320px;
    position: absolute;
    top: 10%;
    left: 42%;
    /* transform: translate(10%, 310%); */
}


.potato-sprites img {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 55%;
    left: 77%;
    /* transform: translate(-150%, 370%); */
}

.potato-sprites-two img {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 55%;
    left: 40%;
    /* transform: translate(-50%, 370%); */
}

.potato-sprites-three img {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 55%;
    left: 60%;
    /* transform: translate(50%, 370%); */
}

.potato-event-one img {
    width: 409px;
    height: 266px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-105%, 610%); */
}

.potato-event-two img {
    width: 409px;
    height: 266px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(4%, 610%); */
}

.potato-event-three img {
    width: 409px;
    height: 266px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-105%, 715%); */
}

.potato-event-four img {
    width: 409px;
    height: 266px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(4%, 715%); */
}

.potato-event-five img {
    width: 409px;
    height: 266px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-105%, 820%); */
}

/*/////////////////////////////////////*/
.github {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-250%, -180%);
}

.github img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(0%, 0%);
}

.twitter {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(-100%, -180%);
}

.twitter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(-0%, -0%);
}


.discord {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(50%, -180%);
}

.discord img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(-0%, -0%);
}


.linkedin {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transform: translate(200%, -180%);
}

.linkedin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translate(-0%, -0%);
}